body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.form {
  position: relative!important;
}

.button {
  position: absolute!important;
  margin: 12px !important;
}

div {
  margin: 8px;
}